body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

#name-highlight {
    color: rgb(103, 153, 197);
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img {
    width: 100%;
}