body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

#name-highlight {
    color: rgb(103, 153, 197);
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img {
    width: 100%;
}

.top-banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

section {
    height: 500px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}